.suo
*.VC.opendb
*.VC.db-shm
*.VC.db-wal
*.VC.db
*.obj
*.ipch
*.idb
*.log
*.pdb
*.tlg
*.dll
*.ilk
*.lib
*.exe
*.tlog
*.lastbuildstate
*.res
*.exp
*.iobj
*.ipdb
*.vcxproj.FileListAbsolute.txt
